{% extends 'base.html.twig' %}

{% block title %}Méthode de paiement{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.6/dist/full.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
            <label for="{{ form.firstName.vars.id }}" class="block text-sm font-medium text-gray-900">Prénom</label>
            {{ form_widget(form.firstName, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
            </div>
            <div>
            <label for="{{ form.lastName.vars.id }}" class="block text-sm font-medium text-gray-900">Nom</label>
            {{ form_widget(form.lastName, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
            </div>
            <div>
            <label for="{{ form.accountType.vars.id }}" class="block text-sm font-medium text-gray-900">Type de compte</label>
            {{ form_widget(form.accountType, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm appearance-none'}
            }) }}
            </div>
            <div>
            <label for="{{ form.bankBalance.vars.id }}" class="block text-sm font-medium text-gray-900">Solde</label>
            {{ form_widget(form.bankBalance, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
            </div>
        </div>
        <div>
            <label for="{{ form.bankName.vars.id }}" class="block text-sm font-medium text-gray-900">Nom de la banque</label>
            {{ form_widget(form.bankName, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
        </div>
        <div>
            <label for="{{ form.bankAccountNumber.vars.id }}" class="block text-sm font-medium text-gray-900">Numéro du compte bancaire</label>
            {{ form_widget(form.bankAccountNumber, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
        </div>
        <div>
            <label for="{{ form.iban.vars.id }}" class="block text-sm font-medium text-gray-900">Iban</label>
            {{ form_widget(form.iban, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
        </div>

        <div>
            <button type="submit" class="flex w-full justify-center rounded-md btn btn-secondary text-white">Confirmer</button>
        </div>
        <a href="{{ path('app_account_index') }}" class="btn btn-primary rounded-md text-white mt-4">Retourner à la liste</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
