{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.6/dist/full.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="flex min-h-screen bg-gray-100">

    {% include 'parts/left_bar.html.twig' with {'class': 'w-1/6'} %}

    <!-- Main Content -->
    <div class="flex-1 p-6 overflow-x-auto">
        <h1 class="text-2xl font-bold mb-4 text-center">Mes comptes</h1>
        
        <!-- Filter Form -->
        <form method="get" class="mb-4 text-right" id="filterForm">
            <label for="accountType" class="block mb-2">Filtrer par type de compte</label>
            <select name="accountType" id="accountType" class="select select-bordered border-primary select-sm w-1/5 max-w-xs" onchange="document.getElementById('filterForm').submit();">
            <option value="">Tous les comptes</option>
            <option value="PEL" {% if app.request.query.get('accountType') == 'PEL' %}selected{% endif %}>PEL</option>
            <option value="PEE" {% if app.request.query.get('accountType') == 'PEE' %}selected{% endif %}>PEE</option>
            <option value="Livret" {% if app.request.query.get('accountType') == 'Livret' %}selected{% endif %}>Livret</option>
            <option value="Livret A" {% if app.request.query.get('accountType') == 'Livret A' %}selected{% endif %}>Livret A</option>
            <option value="Livret jeune" {% if app.request.query.get('accountType') == 'Livret jeune' %}selected{% endif %}>Livret jeune</option>
            <option value="Compte courant" {% if app.request.query.get('accountType') == 'Compte courant' %}selected{% endif %}>Compte courant</option>
            </select>
        </form>

        <!-- Table -->
        <div class="overflow-x-auto mt-10">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Type de compte</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Nom de la banque</th>
                        <th>Numéro du <br>compte bancaire</th>
                        <th>Iban</th>
                        <th class="w-1/6">Solde</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% set has_accounts = false %}
                {% for account in accounts %}
                    {% if account.user == app.user and (app.request.query.get('accountType') == '' or app.request.query.get('accountType') == account.accountType.value) %}
                        {% set has_accounts = true %}
                        <tr onclick="window.location.href='{{ path('app_transaction_index', {'accountId': account.id}) }}'" class="cursor-pointer">
                            <td>{{ account.accountType.value }}</td>
                            <td>{{ account.firstName }}</td>
                            <td>{{ account.lastName }}</td>
                            <td>{{ account.bankName }}</td>
                            <td>{{ account.bankAccountNumber }}</td>
                            <td>{{ account.iban|slice(0, 4) ~ '****' ~ account.iban|slice(-4) }}</td>
                            <td>{{ account.bankBalance }} €</td>
                            <td>
                                <a href="{{ path('app_account_edit', {'id': account.id}) }}" class="btn btn-primary btn-xs rounded-md text-white">Modifier</a>
                                <a href="{{ path('app_account_delete', {'id': account.id}) }}" class="btn btn-secondary btn-xs rounded-md text-white">Supprimer</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if not has_accounts %}
                    <tr>
                        <td colspan="8" class="text-center">Aucun compte trouvé</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('app_account_new') }}" class="btn btn-primary rounded-md text-white mt-4">Ajouter un nouveau compte</a>
        <div role="alert" class="alert mt-10">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="stroke-info h-6 w-6 shrink-0">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>Cliquer sur le compte pour accéder au détail des transactions.</span>
        </div>
    </div>
</div>
{% endblock %}