{% extends 'base.html.twig' %}

{% block title %}Méthode de paiement{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.6/dist/full.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

        <div class="space-y-6">
            <div>
            <label for="{{ form.amount.vars.id }}" class="block text-sm font-medium text-gray-900">Montant en €</label>
            {{ form_widget(form.amount, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
            </div>
            <div>
            <label for="{{ form.paymentMethod.vars.id }}" class="block text-sm font-medium text-gray-900">Méthode de transaction</label>
            {{ form_widget(form.paymentMethod, {
                'attr': {
                    'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm appearance-none'
                }
            }) }}
            </div>
            <div>
            <label for="{{ form.operationType.vars.id }}" class="block text-sm font-medium text-gray-900">Type d'opération</label>
            {{ form_widget(form.operationType, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm appearance-none'}
            }) }}
            </div>
            <div>
            <label for="{{ form.description.vars.id }}" class="block text-sm font-medium text-gray-900">Description</label>
            {{ form_widget(form.description, {
                'attr': {'class': 'mt-2 block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm'}
            }) }}
            </div>
        </div>

        <div>
            <button type="submit" class="flex w-full justify-center rounded-md btn btn-secondary text-white mt-4">Confirmer</button>
        </div>
        <a href="{{ path('app_transaction_index') }}" class="btn btn-primary rounded-md text-white mt-4">Retourner à la liste des transactions</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
